.addNote{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.addNote > form{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.addNote > form >input,textarea{
    outline: none;
    background-color: #E6DED3;
}

.addNote > button{
    height: 40px;
    width: 30%;
    text-align: start;
    border: none;
    border-radius: 5px;
    font-weight: lighter;
    background-color: #E6DED3;
    cursor: pointer;
}